.dashboardpage {
    width: 100%;
    height: 100vh;
    background-color: black;
} 

.dashboardpage .course{
    background-color: orange;
    padding: 1rem; 
    width: 50%;
    margin:auto;
    padding:20px;
    border-color: black;
    border-width: 20px;
    border-style:solid;
    display:flex;
}

.dashboardpage .header{
    width: 50%;
    margin:auto;
    text-align: center;
    color: orange;
}
.dashboardpage h4{
    color: antiquewhite;
}

.dashboardpage button{
    text-align: center;
    font-size: medium;
    color:orange;
    background-color: black;
    border-style: solid;
    
    padding: 10px;
    margin: 20px;

}

.dashboardpage button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.dashboardpage .backbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.dashboardpage .mynavbar{
    display: flex;
    margin:0px;
}