.bookingpage {
    width: 100%;
    height: 100vh;
    background-color: black;
} 

.bookingpage .course{
    background-color: orange;
    padding: 1rem; 
    width: 50%;
    margin:auto;
    padding:20px;
    border-color: black;
    border-width: 20px;
    border-style:solid;
    display:flex;
}

.bookingpage .header{
    width: 50%;
    margin:auto;
    text-align: center;
    color: orange;
}
.bookingpage h4{
    color: antiquewhite;
}

.bookingpage button{
    text-align: center;
    font-size: medium;
    color:antiquewhite;
    background-color: black;
    border-style: hidden;
    padding: 13px;
    margin-left: 380px;
}

.bookingpage button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.bookingpage .backbutton{
    text-align: center;
    font-size: medium;
    color:antiquewhite;
    background-color: orange;
    border-style: hidden;
    padding: 13px;
    margin:auto;
}
.bookingpage .backbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }